[submodule "third_party/zephyr"]
	path = third_party/zephyr
	url = https://github.com/zephyrproject-rtos/zephyr.git
[submodule "third_party/mcuboot"]
	path = third_party/mcuboot
	url = https://github.com/zephyrproject-rtos/mcuboot.git
[submodule "third_party/sdk-nrfxlib"]
	path = third_party/sdk-nrfxlib
	url = https://github.com/nrfconnect/sdk-nrfxlib.git
[submodule "third_party/sdk-nrf"]
	path = third_party/nrf
	url = https://github.com/nrfconnect/sdk-nrf.git
[submodule "third_party/hal_nordic"]
	path = third_party/hal_nordic
	url = https://github.com/zephyrproject-rtos/hal_nordic.git
[submodule "third_party/cmsis"]
	path = third_party/cmsis
	url = https://github.com/zephyrproject-rtos/cmsis.git
[submodule "third_party/segger"]
	path = third_party/segger
	url = https://github.com/zephyrproject-rtos/segger.git
